@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}


.smoothentry {
  opacity: 0;
  transform: translateY(30px);
  
  animation-name: smoothentry;
  animation-fill-mode: forwards;
}

.clikamination:active {
  transform: scale(0.9) !important;
}

@keyframes smoothentry {
  from {
    transform: translateY(30);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}