body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    justify-content: space-evenly;
}

h1 {
    color: #39374D;

    font-weight: 600;

    animation-duration: 0.8s;
}

img {
    width: 500px;

    object-fit: cover;

    animation-duration: 0.6s;
}

a {
    background: #3a384e;
    animation-duration: 0.5s;

    margin: initial !important;
}